{% load static %}
<div class="container mt-4">
    <form id="dispemsevalveControlForm" class="mt-4">
        <div class="float-right">
            <button type="submit" class="btn btn-success btn-icon-split btn-sm" id="openvalve">
                <span class="icon text-white-50">
                    <i class="fas fa-play"></i>
                </span>
                <span class="text">Open Valve</span>
            </button>
        </div>
    </form>
</div>

<script src="{% static 'modules/dispensevalve/dispensevalve.js' %}"></script>
